.blue {
    --all-background: #d0f5ff;
    --icon-hover: #00afff;
    --mem-border-rad: 30px;
    --mem-hover: #00afff;
    --num-background: #007cb1;
    --num-border-radius: 30px;
    --num-hover: #009ef7;
    --sign-background: #3d9bd3;
    --sign-border-radius: 30px;
    --sign-hover: #00afff;
    --border: 0 30px 0 30px;
  }