.green {
    --all-background: #c0eb87;
    --icon-hover: #43bb41;
    --mem-border-rad: 30px;
    --mem-hover: #43bb41;
    --num-background: #00a000;
    --num-border-radius: 30px;
    --num-hover: #43b843;
    --sign-background: #37c826;
    --sign-border-radius: 30px;
    --sign-hover: #43bb41;
    --border: 30px 30px 30px 30px;
  }