@mixin hoverstyle{
    background-color: darkgrey;
    cursor: pointer;
   

}
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    height: 25px;
    
    .text-header {
        font-size: 14px;
        padding: 3px 3px 3px 10px;
        margin-left: 1px;
      }
  }
  
  
  
  .icon-header {
    display:flex;
    justify-content: center;
    align-items:center ;

    flex-direction: row-reverse;
    // align-items: center;
    // justify-content: center;

    

    .icon-close:hover{
        background-color: red;
        cursor: pointer;
       
    }
    .icon-restor:hover,
    .icon-minimize:hover{
        @include hoverstyle()
    }
    
  }

  .icon-header-left{

    display:flex;
    justify-content: center;
    align-items:center ;
    width: 48px;

  }