.main {
    --all-background: #e9e9e9;
    --icon-hover: #d3d3d3;
    --mem-border-rad: 0;
    --mem-hover: #d3d3d3;
    --num-background: #fff;
    --num-border-radius: 0;
    --num-hover: #f8f8ff;
    --sign-background: #dcdcdc;
    --sign-border-radius: 0;
    --sign-hover: #d3d3d3;
    --border: 0 0 0 0;
  }