.pink {
    --all-background: #ffe3f4;
    --icon-hover: #ef1088;
    --mem-border-rad: 30px;
    --mem-hover: #ef1088;
    --num-background: #ba1971;
    --num-border-radius: 30px;
    --num-hover: #9e0048;
    --sign-background: #ff77ce;
    --sign-border-radius: 30px;
    --sign-hover: #ef1088;
    --border: 50% 50% 50% 50%;
  }